Redirect 302 /spring-security/reference/6.0 /spring-security/reference
Redirect 302 /spring-security/reference/6 /spring-security/reference
Redirect 302 /spring-security/reference/6.1.0 /spring-security/reference/6.1
Redirect 302 /spring-security/reference/6.0.2 /spring-security/reference
Redirect 302 /spring-security/reference/5 /spring-security/reference/5.8
Redirect 302 /spring-security/reference/5.8.2 /spring-security/reference/5.8
Redirect 302 /spring-security/reference/5.7.7 /spring-security/reference/5.7
Redirect 302 /spring-security/reference/5.6.10 /spring-security/reference/5.6
