Redirect 302 /spring-security/6.0 /spring-security
Redirect 302 /spring-security/6 /spring-security
Redirect 302 /spring-security/6.1.0 /spring-security/6.1
Redirect 302 /spring-security/6.0.2 /spring-security
Redirect 302 /spring-security/5 /spring-security/5.8
Redirect 302 /spring-security/5.8.2 /spring-security/5.8
Redirect 302 /spring-security/5.7.7 /spring-security/5.7
Redirect 302 /spring-security/5.6.10 /spring-security/5.6
